
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h1 class="display-3 text-center mt-3 mb-2" style="font-family: 'Indie Flower', cursive">About Us</h1>
<h6 class="display-6 text-center mb-5" style="font-family: 'Indie Flower', cursive">A closer look behind the people that worked on the <br />
    Thought Chronicles Web Application!</h6>

<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card">
      <img src="/lib/Images/Antolijao.jpg"/>
      <div class = "card-body">
        <h5 class="card-title">Jean Antolijao</h5>
        <p class="card-text">"Don't wait for opportunity, create it."</p>
      </div>
   </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/lib/Images/rens.png"/>
      <div class = "card-body">
        <h5 class="card-title">Christeodoflor Ramos II</h5>
        <p class="card-text">"Ngano tam-is man ang milo kilawon pero tab-ang kung kutawon? mura jud ug life mura lang"</p>
      </div>
   </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img style="height: 400px" src="/lib/Images/camille.jpg"/>
      <div class = "card-body">
        <h5 class="card-title">Rheacamille Judilla</h5>
        <p class="card-text">"That's what I'll be. A silhouette, rarely seen, and yet believed in."</p>
      </div>
   </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/lib/Images/Gabr.jpg"/>
      <div class = "card-body">
        <h5 class="card-title">Gabrielle Juntilla</h5>
        <p class="card-text">"Everyday I'm sufferin"</p>
      </div>
   </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/lib/Images/cycy.jpg"/>
      <div class = "card-body">
        <h5 class="card-title">Cyrish Jane DelaPeña</h5>
        <p class="card-text">"What fox does the say"</p>
      </div>
   </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/lib/Images/Jay-Ar.png"/>
      <div class = "card-body">
        <h5 class="card-title">Jay-r Andrew Montes</h5>
        <p class="card-text">"Never forget who you are"</p>
      </div>
   </div>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/lib/Images/char.jpg"/>
      <div class = "card-body">
        <h5 class="card-title">Charlie Shane Rivera</h5>
        <p class="card-text">"Wubba Lubba dub dub!"</p>
      </div>
   </div>
  </div>

</div>