@{
    ViewData["Title"] = "Home Page";
}

<div class=bg-image></div>

<div class="text-center p-4">
    <h1 class="display-1" style="font-family: 'Indie Flower', cursive">Thought Chronicles <br />
        Web Application</h1>
    <p style="font-family: 'Indie Flower', cursive; font-size: xx-large">
        An open-sourced question and answer sharing site <br />
        What're you waiting for? Share your thoughts now!
    </p>
    <div class="pt-lg-4">
     <a asp-controller="QnA" asp-action="Index" class="btn btn-lg btn-info">Get Started >.< </a>
   </div>
</div>
